$large-phone-breakpoint: 400px;
$tablet-breakpoint: 768px;
$larger-tablet-breakpoint: 769px;
$desktop-breakpoint: 1200px;
$larger-desktop-breakpoint: 1440px;

$primary-color: #323232;
$secondary-color: #FAFAFA;